{# src/Arii/AriiJOCBundle/Resources/views/Default/index.html.twig #}

{% extends "AriiJOCBundle::layout.html.twig" %}
{% block content %}
<!--[if !IE]>start section<![endif]-->	
<div class="section table_section">
	<!--[if !IE]>start title wrapper<![endif]-->
	<div class="title_wrapper">
		<h2>{{ "Events" | trans }}</h2>		
		<!--[if !IE]>start section menu<![endif]-->
                {{ render(controller("AriiJOCBundle:Default:submenu",{'menu': 'spoolers'} )) }}
		<!--[if !IE]>end section menu<![endif]-->
		
		
		<span class="title_wrapper_left"></span>
		<span class="title_wrapper_right"></span>
	</div>
	<!--[if !IE]>end title wrapper<![endif]-->
<!--[if !IE]>start section content<![endif]-->
	<div class="section_content">
		<!--[if !IE]>start section content top<![endif]-->
		<div class="sct">
			<div class="sct_left">
				<div class="sct_right">
					<div class="sct_left">
						<div class="sct_right">
<table border="0" width="100%" height="740">
<tr height="28"><td>
    <div id="toolbarObj"></div>
</td></tr>
<tr height="659"><td>
    <div id="mygrid" style="height:660px;background-color:white;overflow:hidden"></div>
</td></tr>
<tr height="28"><td>
    <div id="recinfoArea"></div>
</td></tr>
</table>
                                                        
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--[if !IE]>end section content top<![endif]-->
<script language="javascript">
dhtmlx.skin = "dhx_skyblue";

var menu = new dhtmlXMenuObject(null);
menu.setIconsPath( "{{ asset('bundles/ariicore/images/menu/') }}" );
/*menu.setImagePath( "{{ asset('bundles/ariicore/images/menu') }}" );*/
menu.renderAsContextMenu();
menu.loadStruct("{{ url('arii_JOC_menu_history') }}");

var toolbar;
toolbar = new dhtmlXToolbarObject("toolbarObj");
toolbar.setIconsPath("{{ asset('bundles/ariicore/images/toolbar/') }}");
toolbar.loadStruct("{{ url('arii_JOC_toolbar_history') }}");
toolbar.attachEvent( "onClick", function(id, value) {
    switch (id) {
        case "refresh":
            GlobalRefresh();
        break;
        default:
            alert(id);
    }
});

var mygrid;

var mygrid = new dhtmlXGridObject( "mygrid" );
mygrid.setImagePath( "{{ asset('bundles/ariicore/images/treegrid/') }}");
mygrid.setHeader( "{{ "Spooler" | trans }},{{ "Hostname" | trans }},{{ "Port" | trans }}" );
mygrid.attachHeader("#text_filter,#text_filter,#numeric_filter");
mygrid.setColumnIds(  "scheduler,HOSTNAME,TCP_PORT" );
mygrid.setInitWidths( "*,*,130" );
mygrid.setColTypes(   "ro,ro,ro" );
mygrid.setColAlign(   "left,left,left" );
mygrid.setColSorting( "str,str,int" );
mygrid.enablePaging(true, 25, 20, "recinfoArea");
mygrid.setPagingSkin("bricks");
mygrid.init();
mygrid.setSkin('dhx_skyblue');
mygrid.loadXML( "{{ url('arii_JOC_db_spoolers') }}" );
mygrid.enableLightMouseNavigation( true );

function GlobalRefresh() {
    toolbar.setItemText( "refresh", "{{ 'Refreshing...' | trans}}" );
    //mygrid.clearAll();
    mygrid.loadXML( "{{ url('arii_JOC_db_spoolers') }}" );
    var currentTime = new Date()
    var nextTime = new Date(currentTime.getTime() +(refreshing*1000));
    toolbar.setItemText( "refresh", FormatTime(nextTime));
}

</script>
                <!--[if !IE]>start section content bottom<![endif]-->
		<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
		<!--[if !IE]>end section content bottom<![endif]-->
		
	</div>
	<!--[if !IE]>end section content<![endif]-->
</div>
<!--[if !IE]>end section<![endif]-->

{% endblock %}
