{# src/Arii/JIDBundle/Resources/views/Ajax/job.html.twig #}
{% extends "AriiJIDBundle:Ajax:layout.html.twig" %}
{% block content %}
<div id="dhx_win" style="width:100%; height:100%;overflow:auto">
<style>
tr.log {
    border: 0;
    background-color: white;
    padding: 0;
    margin: 0;
}
td.log {
    font-family: courier;
    background-image: none;   
    padding-left: 3px;
    margin: 0;
    line-height: 14px;
}
td.info {
    font-family: courier;
    background-image: none;   
    padding: 0;
    margin: 0;
    color: blue;
    line-height: 14px;
}
td.ERROR {
    font-family: courier;
    background-image: none;   
    padding: 0;
    margin: 0;
    color: red;
    line-height: 14px;
}
td.WARN {
    font-family: courier;
    background-image: none;   
    padding: 0;
    margin: 0;
    color: orange;
    line-height: 14px;
}
th.SUCCESS {
    background-color: green;
    color: white;
}
th.FAILURE {
    background-color: red;
    color: white;
}
th.RUNNING {
    background-color: orange;
    color: white;
}
th.SUSPENDED {
    background-color: lightsalmon;
    color: white;
}
th.droite {
    text-align: right;
}
</style>
<div class="table_wrapper">
        <div class="table_wrapper_inner">
<table width="100%"
<tr>
    <th colspan="2">{{ ORDER_ID }}</th>
    <td>{{ "Status" | trans }}</td>
    <th class="{{STATUS}}" colspan=3>{{ STATUS }}</th>
</tr>
<tr class="first">
    <th colspan="4"><font color="red">{{ ERROR_TEXT }}</font></th>
</tr>
<tr class="first">
    <td>{{ "Job chain" | trans }}</td><th>{{ JOB_CHAIN }}</th>
    <td>{{ "State" | trans }}</td><th>{{ STATE }}</th>
</tr>
<tr class="first">
    <td>{{ "Start time" | trans }}</td><th class="droite">{{ START_TIME }}</th>
    <td>{{ "Exit code" | trans }}</td><th class="droite">{{ EXIT_CODE }}</th>
</tr>
<tr class="first">
    <td>{{ "End Time" | trans }}</td><th class="droite">{{ END_TIME }}</th>
    <td>{{ "Error" | trans }}</td><th class="droite">{{ ERROR }}</th>
</tr>
<tr class="first">
    <td>{{ "Duration" | trans }}</td><th class="droite">{{ DURATION }}</th>
    <td>{{ "Steps" | trans }}</td><th class="droite">{{ STEPS }}</th>
</tr>
{% if PARAMETERS is iterable %}
<tr class="second">
    <td colspan=4>{{ "Parameters" | trans }}</td>
</tr>
<tr class="first">
{% for name, value in PARAMETERS %}
<tr class="log">
    <td>{{ name }}</td><th colspan="3">{{ value }}</th></tr>
{% endfor %}
</tr>
{% endif %}


</table>
</div>
</div>
</div>
{{ STEPS }}
{% endblock %}
