{# src/Arii/JIDBundle/Resources/views/Ajax/start_job.html.twig #}
{% extends "AriiJIDBundle:Ajax:layout.html.twig" %}
{% block content %}
<div id="dhx_win" style="width:100%; height:100%;overflow:auto">
<div class="table_wrapper">
        <div class="table_wrapper_inner">
<table>
<tr>
    <td>{{ "Job name" | trans }}</td>
    <th colspan=3>{{ JOB_NAME }}</th>
</tr>
<tr>
    <td>{{ "Task" | trans }}</td>
    <th colspan=3>{{ RESULT.spooler.answer.ok.task_attr.task }}</th>
</tr>
<tr>
    <td>{{ "State" | trans }}</td>
    <th colspan=3>{{ RESULT.spooler.answer.ok.task_attr.state }}</th>
</tr>
<tr>
    <td>{{ "Enqueued" | trans }}</td>
    <th colspan=3>{{ RESULT.spooler.answer.ok.task_attr.enqueued }}</th>
</tr>
<tr>
    <td>{{ "Force_start" | trans }}</td>
    <th colspan=3>{{ RESULT.spooler.answer.ok.task_attr.force_start }}</th>
</tr>
<!--
{% for k,v in RESULT.spooler.answer.ok.task_attr %}
<tr class="log">
    <td>{{ k }}</td><th>{{ v }}</th></tr>
</tr>
{% endfor %}
-->
</table>
</div>
</div>
</div>
{{ STEPS }}
{% endblock %}
