{# src/Arii/JOCBundle/Resources/views/Default/history.html.twig #}

{% extends "AriiJOCBundle::layout.html.twig" %}
{% block content %}
<!--[if !IE]>start section<![endif]-->	
<div class="section table_section">
	<!--[if !IE]>start title wrapper<![endif]-->
	<div class="title_wrapper">
		<h2>{{ "Timeline" | trans }}</h2>
		<!--[if !IE]>start section menu<![endif]-->
                {{ render(controller("AriiJOCBundle:Orders:submenu")) }}
		<!--[if !IE]>end section menu<![endif]-->
		
		<span class="title_wrapper_left"></span>
		<span class="title_wrapper_right"></span>
	</div>
	<!--[if !IE]>end title wrapper<![endif]-->
<!--[if !IE]>start section content<![endif]-->
	<div class="section_content">
		<!--[if !IE]>start section content top<![endif]-->
		<div class="sct">
			<div class="sct_left">
				<div class="sct_right">
					<div class="sct_left">
                                                <div class="sct_right">
    <div id="mygrid" style="height:776px;background-color:white;position:relative;overflow:hidden;"></div>
                                                </div>
					</div>
				</div>
			</div>
		</div>

		<!--[if !IE]>end section content top<![endif]-->
		<!--[if !IE]>start section content bottom<![endif]-->
		<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
		<!--[if !IE]>end section content bottom<![endif]-->
		
	</div>
	<!--[if !IE]>end section content<![endif]-->
</div>
<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
<div class="dhx_cal_navline">
<div class="dhx_cal_prev_button">&nbsp;</div>
<div class="dhx_cal_next_button">&nbsp;</div>
<div class="dhx_cal_today_button"></div>
<div class="dhx_cal_date"></div>
<div class="dhx_cal_tab" name="day_tab" style="right:215px;"></div>
<div class="dhx_cal_tab" name="timeline_tab" style="right:280px;"></div>
</div>
<div class="dhx_cal_header">
</div>
<div class="dhx_cal_data">
</div>	
</div>
<!--[if !IE]>end section<![endif]-->
<script>
dhtmlx.skin = "dhx_skyblue";

var dhxLayout = new dhtmlXLayoutObject("mygrid","3T");
var toolbar = dhxLayout.attachToolbar();
toolbar.setIconsPath("{{ asset('bundles/ariicore/images/toolbar/') }}");
toolbar.loadStruct("{{ url('arii_JOC_toolbar') }}");

scheduler.locale.labels.timeline_tab = "Timeline";
//scheduler.locale.labels.section_custom="Section";
scheduler.config.details_on_create=false;
scheduler.config.details_on_dblclick=false;
scheduler.config.xml_date="%Y-%m-%d %H:%i";

scheduler.config.first_hour = 0;
scheduler.config.last_hour = 24;

scheduler.locale.labels.day_tab = "{{ "Day" | trans }}";
scheduler.locale.labels.timeline_tab = "{{ "Timeline" | trans }}";

//===============
//Configuration
//===============
scheduler.createTimelineView({
    name: "timeline",
    x_unit: "minute",
    x_date: "%H:%i",
    x_step: {{ Timeline.step }},
    x_size: 24,
    x_start: {{ Timeline.start }},
    x_length: 48,
    y_unit:	[ {% for spooler in Timeline.spoolers %}
                  { key: "{{ spooler }}", label: "{{ spooler }}" },
                  {% endfor %} 
               ],
y_property:	"section_id",
render:"bar"
});
//===============
//Data loading
//===============
scheduler.config.lightbox.sections=[	
    { name:"description", height:130, map_to:"text", type:"textarea" , focus:true},
    {name:"time", height:72, type:"time", map_to:"auto"}
 ];

scheduler.templates.event_class=function(start,end,event){
 return event.color;
}

scheduler.init('scheduler_here',new Date( {{ Timeline.js_date }} ),"timeline");	

scheduler.load( "{{ url('xml_JOC_orders_timeline') }}" );
timeline  = dhxLayout.cells("a").attachScheduler( new Date( {{ Timeline.js_date }} ) , "timeline", 'scheduler_here', scheduler);
dhxLayout.cells("a").hideHeader();
dhxLayout.cells("b").setWidth(700);
dhxLayout.cells("b").setHeight(245);

dhxLayout.cells("b").setText("{{ 'Order Information' | trans }}");
dhxLayout.cells("c").setText("{{ 'Order Log' | trans }}");
scheduler.attachEvent("onClick",function(id, value){
    dhxLayout.cells("b").attachURL("{{ url('arii_JOC_detail_order') }}?id="+id,true); 
    dhxLayout.cells("c").attachURL("{{ url('arii_JOC_order_log') }}?id="+id,true);
});

function GlobalRefresh() {
    scheduler.load( "{{ url('xml_JOC_orders_timeline') }}", function() {
        var currentTime = new Date();
        var nextTime = new Date(currentTime.getTime() +(refreshing*1000));
        toolbar.setItemText( "refresh", FormatTime(nextTime));
    });
}


</script>
{% endblock %}
