{# src/Arii/JIDBundle/Resources/views/index.html.twig #}

{% extends "AriiJIDBundle::layout.html.twig" %}
{% block content %}
<!--[if !IE]>start section<![endif]-->	
<div class="section table_section">
	<!--[if !IE]>start title wrapper<![endif]-->
	<div class="title_wrapper">
		<h2>{{ "Messages" | trans }}</h2>
<ul  class="section_menu">                
      <li><a href="{{ url('arii_JID_messages') }}" class="active"><span><span><img src="{{ asset('bundles/ariicore/images/wa/list.png') }}"/>&nbsp;{{ "List" | trans }}</span></span></a></li>
</ul>
                <span class="title_wrapper_left"></span>
		<span class="title_wrapper_right"></span>
	</div>
	<!--[if !IE]>end title wrapper<![endif]-->
<!--[if !IE]>start section content<![endif]-->
	<div class="section_content">
		<!--[if !IE]>start section content top<![endif]-->
		<div class="sct">
			<div class="sct_left">
				<div class="sct_right">
					<div class="sct_left">
                                                <div class="sct_right">
<div id="mygrid" style="height:576px;background-color:white;position:relative;overflow:hidden;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
<script language="javascript">
dhtmlx.skin = "dhx_skyblue";

var dhxLayout = new dhtmlXLayoutObject("mygrid","2E");
dhxLayout.cells("a").hideHeader();
dhxLayout.cells("a").setHeight(315);

var toolbar = dhxLayout.cells("a").attachToolbar();


toolbar.setIconsPath("{{ asset('bundles/ariicore/images/toolbar/') }}");
toolbar.loadStruct("{{ url('arii_JID_toolbar_refresh') }}");
toolbar.attachEvent( "onClick", function(id, value) {
    switch (id) {
        case "refresh":
            GlobalRefresh();
        break;
        default:
            alert(id);
    }
});

var mygrid = dhxLayout.cells("a").attachGrid();
mygrid.setImagePath( "{{ asset('bundles/ariicore/images/treegrid/') }}");
mygrid.setHeader("{{ "Log time" | trans }},{{ "Spooler" | trans }},{{ "Severity" | trans }},{{ "Error" | trans }},{{ "Message" | trans }},{{ "Objects" | trans }},{{ "Count" | trans }}");
mygrid.attachHeader("#text_filter,#select_filter,#select_filter,#select_filter,#text_filter,#text_filter,#numeric_filter");
mygrid.setInitWidths("130,150,80,50,*,250,60,0");
mygrid.setColAlign("left,left,left,right,left,left,right");
mygrid.setColTypes("ro,ro,ro,ro,ro,ro,ro");
mygrid.setColSorting("date,str,str,int,str,str,int");

mygrid.init();
mygrid.setSkin('dhx_skyblue');
mygrid.enableAlterCss("even_row","odd_row");
mygrid.i18n.paging={
      results: "{{ "Results" | trans }}",
      records: "{{ "From" | trans }} ",
      to: " {{ "to" | trans }} ",
      page:"{{ "Page" | trans }} ",
      perpage: "{{ "rows per page" | trans }}",
      first: "{{ "To first Page" | trans }}",
      previous:"{{ "Previous Page" | trans }}",
      found:"{{ "Found records" | trans }}",
      next:"{{ "Next Page" | trans }}",
      last:"{{ "To last Page" | trans }}",
      of:" {{ "of" | trans }} ",
      notfound:"{{ "No Records Found" | trans }}" };
mygrid.loadXML( "{{ url('xml_JID_messages') }}" );
mygrid.enableLightMouseNavigation( true );
mygrid.attachEvent("onXLE",function(){
    //will be called after each xml loading
    mygrid.refreshFilters();
    mygrid.filterByAll();
    var currentTime = new Date()
    toolbar.setItemText( "refresh", FormatTime(currentTime));
});

dhxLayout.cells("b").hideHeader();
dhxLayout.cells("b").attachURL("{{ url('xml_JID_message') }}",true);
mygrid.attachEvent("onRowDblClicked",function(id, value){
    dhxLayout.cells("b").attachURL("{{ url('xml_JID_message') }}?id="+id,true);
});
// Autorefresh
function GlobalRefresh() {
    toolbar.setItemText( "refresh", "{{ 'Refreshing...' | trans}}" );
    //mygrid.clearAll();
    mygrid.loadXML( "{{ url('xml_JID_messages') }}" );
}
</script>
		<!--[if !IE]>end section content top<![endif]-->
		<!--[if !IE]>start section content bottom<![endif]-->
		<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
		<!--[if !IE]>end section content bottom<![endif]-->
		
	</div>
	<!--[if !IE]>end section content<![endif]-->
</div>
<!--[if !IE]>end section<![endif]-->
{% endblock %}
