{# src/Arii/AdminBundle/Resources/views/User/user.html.twig #}

{% extends "AriiAdminBundle::layout.html.twig" %}

{% block content %}
<!--[if !IE]>start section<![endif]-->	
<div class="section">
        <!--[if !IE]>start title wrapper<![endif]-->
        <div class="title_wrapper">
                <h2>{{ "Filters" | trans }}</h2>
                <ul  class="section_menu">
      <li><a href="{{ url('arii_Admin_filters') }}" class="active"><span><span>{{ "Filters" | trans }}</span></span></a></li>
      <li><a href="{{ url('arii_Admin_audit') }}" class=""><span><span>{{ "Audit" | trans }}</span></span></a></li>
  </ul>
                
                <span class="title_wrapper_left"></span>
                <span class="title_wrapper_right"></span>
        </div>
        <!--[if !IE]>end title wrapper<![endif]-->
        <!--[if !IE]>start section content<![endif]-->
        <div class="section_content">
                <!--[if !IE]>start section content top<![endif]-->
                <div class="sct">
                        <div class="sct_left">
                                <div class="sct_right">
                                        <div class="sct_left">
                                                <div class="sct_right">

    <div id="toolbarObj"></div>
    <div id="mygrid" style="height:580px;background-color:white;overflow:hidden;position:relative;">TEST</div>


                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <!--[if !IE]>end section content top<![endif]-->
                <!--[if !IE]>start section content bottom<![endif]-->
                <span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
                <!--[if !IE]>end section content bottom<![endif]-->

        </div>
        <!--[if !IE]>end section content<![endif]-->
</div>
<!--[if !IE]>end section<![endif]-->

<script language="javascript">
dhtmlx.skin = "dhx_skyblue";

var menu = new dhtmlXMenuObject();
menu.setIconsPath( "{{ asset('arii/images/menu/') }}" );
menu.renderAsContextMenu();
menu.attachEvent("onClick", onMenuClick);
menu.loadXML("{{ url('xml_Admin_filters_menu') }}");


var mygrid,mylayout;
mylayout = new dhtmlXLayoutObject("mygrid","2U");
mylayout.cells("a").hideHeader();
mylayout.cells("a").setHeight(370);
mylayout.cells("b").hideHeader();
mylayout.cells("b").setWidth(365);

var toolbarb;
toolbarb = mylayout.cells("b").attachToolbar();
toolbarb.setIconsPath("{{ asset('arii/images/toolbar/') }}");
toolbarb.loadXML("{{ url('arii_Admin_filter_toolbar') }}");
toolbarb.attachEvent("onClick",onClick);

var sb = mylayout.cells("a").attachStatusBar();
sb.setText('<div id="recinfoArea"></div>');
mylayout.cells("a").vs[mylayout.cells("a").av].sbHeight = 40;
mygrid = mylayout.cells("a").attachGrid();
mygrid.setMultiRows = true;
mygrid.setImagePath("{{ asset('arii/images/treegrid/') }}");
mygrid.enableContextMenu(menu);
mygrid.enableLightMouseNavigation( true );
mygrid.enablePaging(true, "25", 3, "recinfoArea");
mygrid.setPagingSkin("toolbar","dhx_skyblue");
mygrid.setPagingWTMode(true,true,true,["25"]);
mygrid.init();
mygrid.load("{{ url('arii_Admin_filter_show') }}");
mygrid.setSkin("dhx_skyblue");
var dp = new dataProcessor("{{ url('arii_Admin_filter_show') }}"); 
dp.setTransactionMode("POST",true); 
dp.setUpdateMode("off");
dp.init(mygrid);

mygrid.attachEvent("onRowDblClicked",onRowDblClicked);

var myform,formData;
formData = [
   { type: "settings", position: "label-left", labelWidth: 80, inputWidth: 200, readonly: 1, position: "label-left",noteWidth: 200,labelAlign:"center" },
   { type: "fieldset", name: "filterset", label: "Filter", width: "auto", list:[
        {type:"block",width:"auto",list: [
            {type:"hidden",name:"id"},
            {type:"input", name: 'filter', label:'{{ 'Name' | trans }}', note: {text: "Please Specify a name for the Filter"},required: true},
            {type:"input", name: 'title', label:'{{ 'Title' | trans }}', note: {text: "Please Specify a title for the Filter"},required: true},
            {type:"input", name: 'spooler', label:'{{ 'Spooler' | trans }}', note: {text: "Specify Spooler like this"}},
            {type:"input", name: 'job', label:'{{ 'Job' | trans }}', note: {text: "Specify Job like this"}},
            {type:"input", name: 'job_chain', label:'{{ 'Job chain' | trans }}', note: {text: "Specify Job chain like this"}},
            {type:"input", name: 'order_id', label:'{{ 'Order' | trans }}', note: {text: "Specify Order like this"}},
            {type:"input", name: 'repository', label:'{{ 'Repository' | trans }}', note: {text: "Specify Repository like this"}},
            {type:"input", name: 'status', label:'{{ 'Status' | trans }}', note: {text: "Please Specify a status for this filter"}}   
        ]}
        ] }
    ];
myform = mylayout.cells("b").attachForm(formData);
myform.setSkin("dhx_skyblue");
myform.enableLiveValidation(true);

function GridRefresh()
{
    mygrid.load("{{ url('arii_Admin_filter_show') }}");   
}

function onMenuClick(menuitemId,type)
{
    var rid = mygrid.contextID.split("_")[0];
    switch (menuitemId)
    {
        case "delete_filter":
            dhtmlx.confirm({
            title: "{{ "Delete Filter" | trans }}",
            type: "confirm-error",
            text: "{{ "Do you really want to delete this filter ?" | trans }}",
            callback: function(answer) { 
                if (answer) {
                    mylayout.cells("a").progressOn();
                    dhtmlxAjax.get("{{ url('arii_Admin_filter_delete') }}?id="+rid,function(loader){
                        if(loader.xmlDoc.responseText==="success"){
                            GridRefresh();
                            mylayout.cells("a").progressOff();
                        } else
                        {
                            alert(loader.xmlDoc.responseText);
                            mylayout.cells("a").progressOff();
                        }
                    });
                }; 
            },
            cancel: "{{ "No" | trans }}",
            ok: "{{ "Yes" | trans }}" });
        break;
        case "add_filter":
            myform.clear();
            myform.setItemFocus("filter");
        break;
        case "edit_filter":
            mylayout.cells("a").progressOn();
            myform.load("{{ url('arii_Admin_filter_edit') }}?id="+rid);
            mylayout.cells("a").progressOff();
        break;
        default:
            
    }
    return true;
}

function onClick(id,value){
    switch(id){
        case "save_filter":
            if(!myform.validate())
            {
                dhtmlx.message({
                    title:"Error",
                    type: "error",
                    lifetime: "60000",
                    text: "{{ "Please type in all the required fields!" | trans }}"
                 });
                return;
            }
            SaveFilter();
            break;
        case "add_filter":
			myform.clear();
            myform.setItemFocus("filter");
            break;
        case "delete_filter":
            break;
        default:
            break;
    }
}

function SaveFilter()
{
    mylayout.cells("b").progressOn();
    myform.send("{{ url('arii_Admin_filter_save') }}","POST",function(loader,response){
        if(response === "success")
       {
         dhtmlx.message({
            title:"Save",
            type: "Notice",
            lifetime: "60000",
            text: "Filter Saved"
         });
         myform.setItemFocus("filter");
         mygrid.load("{{ url('arii_Admin_filter_show') }}");
         mylayout.cells("b").progressOff();
       } else
       {
           alert(response);
       }
    });
}

function onRowDblClicked(rid)
{
    mylayout.cells("a").progressOn();
    myform.clear();
    myform.load("{{ url('arii_Admin_filter_edit') }}?id="+rid);
    mylayout.cells("a").progressOff();
}


</script>

{% endblock %}
