{# src/Arii/JIDBundle/Resources/views/Default/history.html.twig #}
{% extends "AriiCoreBundle::layout.html.twig" %}
{% block body %}
<script type="text/javascript">
dhtmlxEvent(window,"load",function() { 
    globalLayout = new dhtmlXLayoutObject(document.body,"2U");  
    globalLayout.cells("a").hideHeader();

    globalMenu = globalLayout.cells("a").attachMenu();
    globalMenu.setIconsPath( "{{ asset('/bundles/ariicore/images/menu/') }}" );
    globalMenu.loadStruct("{{ url('xml_menu') }}?route={{ app.request.attributes.get('_route') }}");    

    myRibbon = globalLayout.cells("a").attachRibbon(); 
    myRibbon.setIconPath( "{{ asset('bundles/ariicore/images/ribbon/') }}" );
    myRibbon.loadStruct("{{ url('json_Home_docs_ribbon') }}");
    myRibbon.attachEvent("onStateChange", StateRibbon );
    myRibbon.attachEvent("onClick", ClickRibbon );

    globalLayout.cells("b").attachURL('{{ asset('/bundles/ariicore/images/arii.jpg') }}');

    globalLayout.cells("a").setWidth(250);
    globalLayout.cells("b").hideHeader();

    myTree =globalLayout.cells("a").attachTree();
    myTree.setImagesPath("{{ asset('bundles/ariicore/images/tree/') }}");
    myTree.load("{{ url('xml_docs_tree') }}");
    myTree.attachEvent("onClick",function(id) {
        if (myTree.getItemImage(id,0)=='folder.gif') return true;
        globalLayout.cells("b").attachURL("{{ url('xml_doc_view') }}?doc="+id);        
    });
    

});
</script>
</body>
{% endblock %}
