{# src/Arii/JOCBundle/Resources/views/index.html.twig #}

{% extends "AriiJOCBundle::layout.html.twig" %}
{% block content %}
<!--[if !IE]>start section<![endif]-->	
<div class="section table_section">
	<!--[if !IE]>start title wrapper<![endif]-->
	<div class="title_wrapper">
		<h2>{{ "spoolers" | trans }}</h2>
<ul  class="section_menu">
      <li><a href="{{ url('arii_JOC_spoolers_list') }}" class="active"><span><span>{{ "List" | trans }}</span></span></a></li>
      <li><a href="{{ url('arii_JOC_spoolers_charts') }}" class=""><span><span>{{ "Charts" | trans }}</span></span></a></li>
</ul>
		<span class="title_wrapper_left"></span>
		<span class="title_wrapper_right"></span>
	</div>
	<!--[if !IE]>end title wrapper<![endif]-->
<!--[if !IE]>start section content<![endif]-->
	<div class="section_content">
		<!--[if !IE]>start section content top<![endif]-->
		<div class="sct">
			<div class="sct_left">
				<div class="sct_right">
					<div class="sct_left">
                                                <div class="sct_right">
    <div id="mygrid" style="height:590px;background-color:white;overflow:hidden;position: relative;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
<script language="javascript">
var menu = new dhtmlXMenuObject();
menu.setIconsPath( "{{ asset('arii/images/menu/') }}" );
/*menu.setImagePath( "{{ asset('arii/images/menu') }}" );*/
menu.renderAsContextMenu();
menu.attachEvent("onClick", onButtonClick);
menu.loadXML("{{ url('xml_JOC_spoolers_menu') }}");

var dhxLayout = new dhtmlXLayoutObject("mygrid","2E");

var toolbar;
toolbar = dhxLayout.attachToolbar();
toolbar.setIconsPath("{{ asset('arii/images/toolbar/') }}");
toolbar.loadXML("{{ url('arii_JOC_toolbar') }}");
toolbar.attachEvent( "onClick", function(id, value) {
    switch (id) {
        case 'refresh':
            GridRefresh();
            break;
        default:
            alert(id);
    }
});

dhxLayout.cells("a").hideHeader();
dhxLayout.cells("a").setHeight(300);
var mygrid = dhxLayout.cells("a").attachGrid();
var sb = dhxLayout.cells("a").attachStatusBar();
dhxLayout.cells("a").vs[dhxLayout.cells("a").av].sbHeight = 40;
sb.setText('<div id="recinfoArea"></div>');
mygrid.selMultiRows = true;
mygrid.setImagePath( "{{ asset('arii/images/treegrid/') }}");
mygrid.enableTreeCellEdit(false);
//mygrid.setHeader("Location,StaState,Title,Information,Next run time");
mygrid.setHeader( "{{ "Spooler" | trans }},{{ "Status" | trans }},{{ "Version" | trans }},{{ "Host" | trans }},{{ "Ip Adress" | trans }},{{ "Port" | trans }},ID,DB" );
mygrid.attachHeader("#text_filter,#select_filter,#select_filter,#select_filter,#select_filter,#select_filter,#select_filter,#select_filter");
mygrid.setColumnIds(  "SPOOLER,STATE,VERSION,HOST,IP_ADDRESS,TCP_PORT,SPOOLER_ID,NEED_DB" );
mygrid.setInitWidths( "*,80,80,130,100,50,0,40" );
mygrid.setColTypes(   "ro,ro,ro,ro,ro,ro,ro,ro" );
mygrid.setColAlign(   "left,right,right,left,right,right,right,right" );
mygrid.setColSorting( "str,str,str,str,str,str,str,str" );
mygrid.enableContextMenu(menu);
mygrid.enablePaging(true, "10", 3, "recinfoArea");
mygrid.setPagingSkin("toolbar","dhx_skyblue");
mygrid.setPagingWTMode(true,true,true,["10"]);
mygrid.init();
mygrid.setSkin('dhx_skyblue');
mygrid.loadXML( "{{ url('xml_JOC_spoolers_list') }}" );
mygrid.enableLightMouseNavigation( true );
mygrid.attachEvent("onXLE",function(){
    mygrid.refreshFilters();
    mygrid.filterByAll();
});

dhxLayout.cells("b").hideHeader();
//dhxLayout.cells("b").attachURL("{{ url('xml_JOC_spoolers_list') }}",true);

/*
mygrid.attachEvent("onRowDblClicked",function(id, value){
    dhxLayout.cells("b").attachURL("{{ url('arii_JOC_spooler_status') }}?id="+id,true);
});
*/

// Autorefresh
function GlobalRefresh() {
    GridRefresh();
}

function GridRefresh() {
    var currentTime = new Date();
    var hours = currentTime.getHours();
    var minutes = currentTime.getMinutes();
    var seconds = currentTime.getSeconds();
    if (minutes < 10){
    minutes = "0" + minutes;
    }
    if (seconds < 10){
    seconds = "0" + seconds;
    }
    toolbar.setItemText( "refresh", hours + ":" + minutes + ":" +  seconds );
    //mygrid.clearAll();
    mygrid.loadXML( "{{ url('xml_JOC_spoolers_list') }}"+'?time='+seconds );
}

function onButtonClick(menuitemId) {
    var data = mygrid.contextID.split("_");
    //rowInd_colInd;
    var id = data[0];
    var cInd = data[1];
    // alert("rId "+rId+" cInd "+cInd);
    switch (menuitemId) {
        case "get_info":
            url = "{{ url('arii_Cache') }}"+mygrid.cells(id,5).getValue()+"/"+mygrid.cells(id,6).getValue()+"/web";
            dhxLayout.cells("a").progressOn();
            dhtmlxAjax.get( url, function(loader,response){
                    dhtmlx.message({
                    type: "Notice",
                    expire: 5000,
                    width: "500px",
                    text: loader.xmlDoc.responseText });
                    dhxLayout.cells("a").progressOff();
                    GridRefresh();
            });
         break;
       default:
            alert(menuitemId);    
    }
    return true;
}
</script>
		<!--[if !IE]>end section content top<![endif]-->
		<!--[if !IE]>start section content bottom<![endif]-->
		<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
		<!--[if !IE]>end section content bottom<![endif]-->
		
	</div>
	<!--[if !IE]>end section content<![endif]-->
</div>
<!--[if !IE]>end section<![endif]-->
{% endblock %}
