
<!--[if !IE]>start section<![endif]-->	
<div class="section">
        <!--[if !IE]>start title wrapper<![endif]-->
        <div class="title_wrapper">
                <h2>{{ "Operations" | trans }}</h2>
                <span class="title_wrapper_left"></span>
                <span class="title_wrapper_right"></span>
        </div>
        <!--[if !IE]>end title wrapper<![endif]-->
        <!--[if !IE]>start section content<![endif]-->
        <div class="section_content">
                <!--[if !IE]>start section content top<![endif]-->
                <div class="sct">
                        <div class="sct_left">
                                <div class="sct_right">
                                        <div class="sct_left">
                                                <div class="sct_right">
                                                        <ul class="sidebar_menu">
                                                               <li class="job"><a href="{{ url('arii_JOC_jobs') }}">&nbsp;{{ "Jobs" | trans }}</a></li>
                                                                <li class="chains"><a href="{{ url('arii_JOC_chains') }}">&nbsp;{{ "Chains" | trans }}</a></li>
                                                                <li class="nested"><a href="{{ url('arii_JOC_nested') }}">&nbsp;{{ "Process" | trans }}</a></li>
                                                                <li class="orders"><a href="{{ url('arii_JOC_orders') }}">&nbsp;{{ "Orders" | trans }}</a></li>
                                                                <li class="schedule"><a href="{{ url('arii_JOC_schedules') }}">&nbsp;{{ "Schedules" | trans }}</a></li>
                                                                <li class="lock"><a href="{{ url('arii_JOC_locks') }}">&nbsp;{{ "Locks" | trans }}</a></li>
                                                                <li class="process_class"><a href="{{ url('arii_JOC_process_classes') }}">&nbsp;{{ "Queue batches" | trans }}</a></li>
                                                                <li class="spooler"><a href="{{ url('arii_JOC_spoolers') }}">&nbsp;{{ "Spoolers" | trans }}</a></li>
                                                                <li class="remote_scheduler"><a href="{{ url('arii_JOC_remote_schedulers') }}">&nbsp;{{ "Remote schedulers" | trans }}</a></li>
                                                                <li class="connection"><a href="{{ url('arii_JOC_connections') }}">&nbsp;{{ "Connections" | trans }}</a></li>
                                                                <li class="runtimes last"><a href="{{ url('arii_JOC_runtimes') }}">&nbsp;{{ "Runtimes" | trans }}</a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <!--[if !IE]>end section content top<![endif]-->
                <!--[if !IE]>start section content bottom<![endif]-->
                <span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
                <!--[if !IE]>end section content bottom<![endif]-->

        </div>
        <!--[if !IE]>end section content<![endif]-->
</div>
<!--[if !IE]>end section<![endif]-->
