{# src/Arii/AdminBundle/Resources/views/Default/database.html.twig #}

{% extends "AriiAdminBundle::layout.html.twig" %}

{% block content %}
<!--[if !IE]>start section<![endif]-->	
<div class="section">
        <!--[if !IE]>start title wrapper<![endif]-->
        <div class="title_wrapper">
                <h2>{{ "User Management" | trans }}</h2>
                <span class="title_wrapper_left"></span>
                <span class="title_wrapper_right"></span>
        </div>
        <!--[if !IE]>end title wrapper<![endif]-->
        <!--[if !IE]>start section content<![endif]-->
        <div class="section_content">
                <!--[if !IE]>start section content top<![endif]-->
                <div class="sct">
                        <div class="sct_left">
                                <div class="sct_right">
                                        <div class="sct_left">
                                                <div class="sct_right">
<div id="toolbarObj"></div>
<table border="0" width="100%" height="715">
<tr height="659"><td>
    <div id="form_container" style="height:659px;overflow:hidden;width: 100%;"></div>
</td></tr>
<tr height="28"><td>
    <div id="recinfoArea"></div>
</td></tr>
</table>

                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <!--[if !IE]>end section content top<![endif]-->
                <!--[if !IE]>start section content bottom<![endif]-->
                <span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
                <!--[if !IE]>end section content bottom<![endif]-->

        </div>
        <!--[if !IE]>end section content<![endif]-->
</div>
<!--[if !IE]>end section<![endif]-->

<script language="javascript">
dhtmlx.skin = "dhx_skyblue";

var formData,myForm;
formData = [
   { type: "settings", position: "label-left", labelWidth: 80, inputWidth: 300, readonly: 1, position: "label-left",noteWidth: 300 },
   { type: "fieldset", name: "filter", label: "New Filter", inputWidth: "auto", list:[
        {type:"input", name: 'name', label:'{{ 'Name' | trans }}', note: {text: "Please Specify a name for the Filter"},required: true},
        {type:"input", name: 'title', label:'{{ 'Title' | trans }}', note: {text: "Please Specify a title for the Filter"},required: true},
        {type:"input", name: 'spooler', label:'{{ 'Spooler' | trans }}', note: {text: "Specify Spooler like this"}},
        {type:"input", name: 'job', label:'{{ 'Job' | trans }}', note: {text: "Specify Job like this"}},
        {type:"input", name: 'job_chain', label:'{{ 'Job chain' | trans }}', note: {text: "Specify Job chain like this"}},
        {type:"input", name: 'order_id', label:'{{ 'Order' | trans }}', note: {text: "Specify Order like this"}},
        {type:"input", name: 'status', label:'{{ 'Status' | trans }}', note: {text: "Please Specify a status for this filter"}}
        ] }
    ];
myForm = new dhtmlXForm("form_container", formData);
myForm.setSkin("dhx_skyblue");
myForm.enableLiveValidation(true);
var dp = new dataProcessor( "{{ url('arii_Admin_filter_add') }}" );
dp.setUpdateMode("off");
dp.init(myForm);

var toolbar;
toolbar = new dhtmlXToolbarObject("toolbarObj");
toolbar.setIconsPath("{{ asset('arii/images/toolbar/') }}");
toolbar.loadXML("{{ url('arii_Admin_toolbar_add') }}");
toolbar.attachEvent("onClick",function(id,value){
    switch(id){
        case "save":
            myForm.send("{{ url('arii_Admin_filter_save') }}?mode=add","POST",function(loader,response){
                if(response === 'insert')
                {
                    dhtmlx.message({
                        title:"Save",
                        type: "Notice",
                        lifetime: "60000",
                        text: "Filter Created"
                    });
                    myForm.clear();
                    myForm.setItemFocus("name");
                }
            });
        break;
        case "return":
            document.location.href = "{{ url('arii_Admin_filter') }}";
        break;
        default:
            
    }
});

    
</script>
{% endblock %}
