{# src/Arii/CoreBundle/Resources/views/Batch/list.html.twig #}
{% extends "AriiCoreBundle::layout.html.twig" %}
{% block content %}
<!--[if !IE]>start section<![endif]-->	
<div class="section table_section">
	<!--[if !IE]>start title wrapper<![endif]-->
	<div class="title_wrapper">
		<h2>{{ "System monitoring" | trans }}</h2>
		
		<!--[if !IE]>start section menu<![endif]-->
		<!--[if !IE]>end section menu<![endif]-->
		
		
		<span class="title_wrapper_left"></span>
		<span class="title_wrapper_right"></span>
	</div>
	<!--[if !IE]>end title wrapper<![endif]-->
<!--[if !IE]>start section content<![endif]-->
	<div class="section_content">
		<!--[if !IE]>start section content top<![endif]-->
		<div class="sct">
			<div class="sct_left">
				<div class="sct_right">
					<div class="sct_left">
						<div class="sct_right">
    <div id="mygrid" style="height:656px;background-color:white;position:relative;overflow:hidden;"></div>
                                                </div>
					</div>
				</div>
			</div>
		</div>
		<!--[if !IE]>end section content top<![endif]-->
		<!--[if !IE]>start section content bottom<![endif]-->
		<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
		<!--[if !IE]>end section content bottom<![endif]-->
		
	</div>
	<!--[if !IE]>end section content<![endif]-->
</div>
<div id="cpu2"><center><img id="cpu2_rrd" src="{{ asset("Monitoring/cpu2.png") }}"/></center></div>
<div id="cpu24"><center><img id="cpu24_rrd" src="{{ asset("Monitoring/cpu24.png") }}"/></center></div>
<div id="mem2"><center><img id="mem2_rrd" src="{{ asset("Monitoring/memoire2.png") }}"/></center></div>
<div id="mem24"><center><img id="mem24_rrd" src="{{ asset("Monitoring/memoire24.png") }}"/></center></div>
<script>
var dhxLayout = new dhtmlXLayoutObject("mygrid","1C");

dhxLayout.cells("a").setWidth(360);
dhxTabbar = dhxLayout.cells("a").attachTabbar();
// dhxTabbar.setImagePath("{{ asset("arii/dhtmlx/dhtmlxTabbar/codebase/imgs/") }}");
dhxTabbar.setSkin("dhx_skyblue");
dhxTabbar.addTab("a1", "{{ "CPU" | trans }}", 120, null, true);
dhxTabbar.addTab("a2", "{{ "Memory" | trans }}", 120);
// dhxTabbar.addTab("a3", "{{ "Network" | trans }}", 120);

myAcc = dhxTabbar.cells("a1").attachAccordion();
var cpu2 = myAcc.addItem("cpu24", "24h", false);
cpu2.attachObject("cpu24");
var cpu24 = myAcc.addItem("cpu2", "2h", true);
cpu24.attachObject("cpu2");

myAcc2 = dhxTabbar.cells("a2").attachAccordion();
var mem2 = myAcc2.addItem("mem24", "24h", false);
mem2.attachObject("mem24");
var mem24 = myAcc2.addItem("mem2", "2h", true);
mem24.attachObject("mem2");
function GlobalRefresh() {
    document.getElementById("cpu2_rrd").src = "{{ asset("Monitoring/cpu2.png") }}?" + new Date().getTime();
    document.getElementById("cpu24_rrd").src = "{{ asset("Monitoring/cpu24.png") }}?" + new Date().getTime();
    document.getElementById("mem2_rrd").src = "{{ asset("Monitoring/memoire2.png") }}?" + new Date().getTime();
    document.getElementById("mem24_rrd").src = "{{ asset("Monitoring/memoire24.png") }}?" + new Date().getTime();
};
</script>
{% endblock %}
