{# src/Arii/JIDBundle/Resources/views/Default/history.html.twig #}
{% extends "AriiJIDBundle::layout.html.twig" %}
{% block content %}
<!--[if !IE]>start section<![endif]-->	
<div class="section table_section">
	<!--[if !IE]>start title wrapper<![endif]-->
	<div class="title_wrapper">
		<h2>[{{spooler}}] <img src="{{ asset('bundles/ariicore/images/wa/order.png') }}"/>{{ order }} <img src="{{ asset('bundles/ariicore/images/wa/bullet_go.png') }}"/> {{ job_chain }}</h2>
<ul  class="section_menu">
      <li><a href="{{ url('arii_JID_order_history') }}?id={{ id }}" class="active"><span><span>{{ "History" | trans }}</span></span></a></li>
      <li><a href="{{ url('arii_JID_orders_list') }}" class=""><span><span>{{ "List" | trans }}</span></span></a></li>
      <li><a href="{{ url('arii_JID_orders_charts') }}" class=""><span><span>{{ "Charts" | trans }}</span></span></a></li>
</ul>
		<span class="title_wrapper_left"></span>
		<span class="title_wrapper_right"></span>
	</div>
	<!--[if !IE]>end title wrapper<![endif]-->
<!--[if !IE]>start section content<![endif]-->
	<div class="section_content">
		<!--[if !IE]>start section content top<![endif]-->
		<div class="sct">
			<div class="sct_left">
				<div class="sct_right">
					<div class="sct_left">
                                                <div class="sct_right">
    <!--div id="mygrid" style="height:326px;background-color:white;width:100%"></div> -->
    <div id="mygrid" style="height:576px;background-color:white;position:relative;overflow:hidden;"></div>
		
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--[if !IE]>end section content top<![endif]-->
		<!--[if !IE]>start section content bottom<![endif]-->
		<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
		<!--[if !IE]>end section content bottom<![endif]-->
		
	</div>
	<!--[if !IE]>end section content<![endif]-->
</div>
<!--[if !IE]>end section<![endif]-->
<script language="javascript">
dhtmlx.skin = "dhx_skyblue";

var dhxLayout = new dhtmlXLayoutObject("mygrid","3T");
dhxLayout.cells("a").hideHeader();

HistoryGrid = dhxLayout.cells("a").attachGrid();
HistoryGrid.selMultiRows = true;
HistoryGrid.setImagePath( "{{ asset('bundles/ariicore/images/treegrid/') }}");
HistoryGrid.setHeader("{{ "State" | trans }},{{ "State" | trans }},{{ "Start time" | trans }},{{ "End time" | trans }},{{ "Duration" | trans }},{{ "Message" | trans }}");
HistoryGrid.attachHeader("#select_filter,#select_filter,#text_filter,#text_filter,#text_filter,#text_filter");
HistoryGrid.setInitWidths("200,60,140,140,100,*");
HistoryGrid.setColTypes("tree,ro,ro,ro,ro,ro");
HistoryGrid.setColAlign("left,right,right,right,right,left");
HistoryGrid.setColSorting("str,int,date,date,str,str");
HistoryGrid.enableTreeGridLines(true);
HistoryGrid.enableTreeCellEdit(false);
HistoryGrid.setSkin('dhx_skyblue');
HistoryGrid.loadXML( "{{ url('arii_JID_grid_history_order') }}?id={{ id }}" );
HistoryGrid.enableAlterCss("even_row","odd_row");
HistoryGrid.init();
HistoryGrid.enableLightMouseNavigation( true );
HistoryGrid.setFiltrationLevel(-2);

HistoryGrid.attachEvent("onRowDblClicked",function(id, value) {
    var ids = id.split('#');
    dhxLayout.cells("c").progressOn();
    if (ids[1]) {
        tabbar.setTabActive("b2");
        JobLogGrid.loadXML( "{{ url('xml_JID_job_log') }}?id="+ ids[1] );
    }
    else {
        tabbar.setTabActive("b1");
    }
    // dans tous les cas on recharge le log
    OrderLogGrid.load( "{{ url('arii_JID_order_log') }}?id="+ id, function () {
        dhxLayout.cells("c").progressOff();
    });
});

dhxLayout.cells("b").setText("{{ "Graph" | trans }}");
var BarChart = dhxLayout.cells("b").attachChart( {
    view: "scatter",
    xValue: "#start#",
    yValue: "#duration#",
    color: "#color#",
    item:{
        label: "",
        borderColor: "#color#" ,
        color: "#color#",
        type: 'r'
    },
    yAxis:{
        title: "{{ "Duration" | trans }} (s)"
    },
    xAxis:{
        title: "{{ "Start time" | trans }}",
        template: ""
    }
});

BarChart.attachEvent("onItemClick", function(id){
    dhxLayout.cells("c").progressOn();
    OrderLogGrid.load( "{{ url('arii_JID_order_log') }}?id="+ id, function () {
        dhxLayout.cells("c").progressOff();
    });
    // chargement de la partie joblog
    var ids = id.split('#');
    HistoryGrid.selectRowById(ids[0]);
    JobLogGrid.loadXML( "{{ url('xml_JID_job_log') }}?id="+ ids[1] );
});
BarChart.load( "{{ url('arii_JID_chart_history_order') }}?id={{ id }}", "xml" );

var tabbar = dhxLayout.cells("c").attachTabbar();
tabbar.setImagePath("{{asset("arii/dhtmlx/dhtmlxTabbar/codebase/imgs/")}}");
tabbar.setSkin("dhx_skyblue");
tabbar.addTab("b1","{{ "Order log" | trans }}","100px");
tabbar.addTab("b2","{{ "Job log" | trans }}","100px");
tabbar.setTabActive("b1");

OrderLogGrid = tabbar.cells("b1").attachGrid();
OrderLogGrid.setHeader("{{ "Date" | trans }},{{ "Task" | trans }},{{ "Message" | trans }},{{ "Code" | trans }}");
OrderLogGrid.attachHeader("#text_filter,#select_filter,#text_filter,#select_filter");
OrderLogGrid.setInitWidths("160,250,*,60");
OrderLogGrid.setColAlign("right,left,left,right");
OrderLogGrid.setColTypes("ro,ro,ro,ro");
OrderLogGrid.setColSorting("date,str,str,int");
OrderLogGrid.setSkin('dhx_skyblue');
OrderLogGrid.enableAlterCss("even_row","odd_row");
OrderLogGrid.init();
OrderLogGrid.loadXML( "{{ url('arii_JID_order_log') }}?id={{ id }}" );

var JobLogGrid = tabbar.cells("b2").attachGrid();
JobLogGrid.setHeader("{{ "Date" | trans }},{{ "Message" | trans }},#cpan,{{ "Code" | trans }}");
JobLogGrid.attachHeader("#text_filter,#select_filter,#text_filter,#select_filter");
JobLogGrid.setInitWidths("160,40,*,60");
JobLogGrid.setColAlign("right,center,left,right");
JobLogGrid.setColTypes("ro,ro,ro,ro");
JobLogGrid.enableAlterCss("even_row","odd_row");
JobLogGrid.init();
JobLogGrid.setSkin('dhx_skyblue');

// pas de refresh
function GlobalRefresh() {};
</script>

{% endblock %}

